{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}"  alt="My Image" width="700" height="600" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-neutral-950 rounded-xl">
        <h1 class="mb-6 text-3xl text-yellow-200 text">{{ item.name }}</h1>
        <p class="text-yellow-100 text-xl my-6"><strong>Price: </strong>${{ item.price }}0</p>
        <p class="text-yellow-100 text-xl mb-6"><strong>Seller: </strong>{{ item.created_by.username }}</p>

        {% if item.description %}
            <p class="text-amber-100 mt-20">
                <strong class="text-amber-100">Description:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}

        <a href="{% url 'core:checkout' %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-amber-200 text-black rounded-xl hover:bg-yellow-400">Buy Now</a>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-199 rounded-xl">
    <h2 class="mb-12 text-2xl text-white text-center">Related Items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                    </div>
                    
                    <div class="p-6 bg-yellow-200 rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: ${{ item.price }}0</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}

