{% extends 'core/base.html' %}

{% block content %}
    <div class="flex items-center justify-center">
        <img src="../../media/checkmark.png" class="flex items-center justify-center" />
    </div>
    <div class="text-5xl text-white font-semibold flex items-center justify-center">
        Order Confirmed!
    </div>
    <div class="text-white flex items-center justify-center my-6" >
        Your order is confirmed and will ship in 1-2 buisness days
    </div>
    <div class= "my-10" />


{% endblock %}